<!-- views/partials/appointment.handlebars -->
<div class="appointment-details">
        <div class="user-info-dets-container" style="flex-direction: column">
            <div class="user-info-name-container">
                <span class="user-info-name">ID</span>
                <span class="user-info-name" style="font-weight: normal">{{this.id}}</span>
            </div>
            <div class="user-info-name-container">
                <span class="user-info-name">Τίτλος</span>
                <span class="user-info-name" style="font-weight: normal">{{this.title}}</span>
            </div>
            <div class="user-info-appointment-container">
                <span class="user-info-name">Ημερομηνία</span>
                <span class="user-info-name" style="font-weight: normal">{{this.date}}</span>
            </div>
            <div class="user-info-appointment-container">
                <span class="user-info-name">Ώρα</span>
                <span class="user-info-name" style="font-weight: normal">{{this.time}}</span>
            </div>
            <div class="user-info-appointment-container">
                <span class="user-info-name">Συμμετέχοντες</span>
                <span class="user-info-name" style="font-weight: normal">{{this.participants}}</span>
            </div>
            <div class="appointment-actions">
            <button class="edit-appointment" data-id="{{this.id}}">Edit</button>
            <button class="remove-appointment" data-id="{{this.id}}">Remove</button>
        </div>
        </div>


    <form class="edit-appointment-form" style="display: none;">
        <input type="hidden" name="id" value="{{this.id}}">
        <input type="text" name="title" value="{{this.title}}" style="width: 100%">
        <input type="date" name="date" value="{{this.date}}">
        <input type="time" name="time" value="{{this.time}}">
<!--        <input type="text" name="user_participants" value="{{this.participants}}">-->
        <button type="submit">Save</button>
    </form>
</div>

<script>

</script>